body{
  margin: 0;
}

table {
  border-collapse: collapse;
  width:100%;
  color: black;
  font-family: monospace;
  font-size: 15px;
  text-align: left;
}

th {
  background-color: green;
  color: white;
}
 tr:nth-child(even) {
   background-color: #A4D1A2;
 }

 #button {
   font-family: monospace;
   font-size: 15px;
   width:100%;
   background-color: #A4D1A2;
   text-decoration: none;
   border: 2px solid green;
   padding: 5px;
   border-radius: 12px;
 }

 input[type="text"], input[type="date"] {
   display: block;
   font-family: monospace;
   margin: 0 auto;
 }



 input[type="submit"] {
   display: block;
   font-family: monospace;
   margin: 0 auto;
   background-color: #A4D1A2;
   color: green;
   border-radius: 12px;
 }

 label {
   color: green;
   font-family: monospace;
   display: block;
   border-collapse: collapse;
   text-align:center;
 }

 h1 {
   color: white;
   font-family: monospace;
   background-color: green;
   text-align:center;
 }
